
  <nav class="navbar navbar-expand-sm navbar-dark
         bg-dark fixed-top ">
    <a class="navbar-brand ms-4" href="#">
       <img src="assets/images/logo-gear.png"
         alt="Home" width="32" height="32"/>
    </a>
    {% include './022-navbar-collapse.njk' %}
  </nav>