
<div class="collapse navbar-collapse">
  <ul class="navbar-nav me-2">
    <li class="nav-item">
      <a class="nav-link active" href="#"
        >Blog <span class="visually-hidden"
        >(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"
         href="#">About</a>
    </li>
  </ul>
</div>