
<div class="collapse navbar-collapse"
     id="navbarCollapse">

  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link active" href="#"
        >Blog <span class="visually-hidden"
        >(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      {% include './023-navbar-dropdown.njk' %}
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#"
        >About</a>
    </li>
  </ul>
  <form class="d-flex form-inline mt-2 mt-md-0">
    <input type="text"
      class="form-control mr-sm-2"
      placeholder="Search" aria-label="Search"
      role="search">
    &nbsp;
    <button
      class="btn btn-outline-light my-2 my-sm-0"
      type="submit">Search</button>
  </form>

</div>