
      <a class="nav-link active dropdown-toggle"
         data-bs-toggle="dropdown"
         aria-expanded="false" href="#"
        >Archives</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item"
                href="#">By Tags</a></li>
        <li><a class="dropdown-item"
                href="#">By Category</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item"
                href="#">By Chronology</a></li>
      </ul>