
<section class="aside-wrapper teal
           animate__animated animate__observe"
        data-animate="slideInRight">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header teal lighten-5">
      <strong>And how long?</strong>
      <span class="fas fa-fingerprint
        float-end"></span>
    </div>

    <div class="widget-body">
      <p>Before a man like that
        has had enough.</p>
    </div>

  </div>
</section>