
<section class="aside-wrapper green
           animate__animated animate__observe"
         data-animate="slideInRight">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header green lighten-5">
      <strong>How many times ?</strong>
      <span class="fa fa-child float-end"></span>
    </div>

    <div class="widget-body">
      <p>Has he been, betrayed,
        disavowed, cast aside.</p>
    </div>

  </div>
</section>