
<main class="col-sm-8 px-0">
  <section class="main-wrapper blue darken-4">
    <div class="blog px-2 bg-dark text-light
        z-depth-3 hoverable">
      <article>
        <h4>Cause You're Different!</h4>
        <p>When you can do the things
          that I can, but you don't, 
          and then the bad things happen,
          they happen because of you.</p>
      </article>
    </div>
  </section>
</main>