
<section class="main-wrapper blue darken-4">
  <div class="blog bg-dark text-light
      z-depth-3 hoverable">
    <section class="blog-header blue darken-3">
      <div class="main_title"> 
        <h4 itemprop="name headline">
          <a href="#" class="text-light"
            >Cause You're Different!</a></h4>
      </div>
    </section>

    <article
        class="blog-body"
        itemprop="articleBody">
      <p>When you can do the things
        that I can, but you don't, 
        and then the bad things happen,
        they happen because of you.</p>
    </article>
  </div>
</section>