{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/030-meta.njk' %}
  {% include './heads/031-links.njk' %}
{% endblock %}

{% block navbar %}
  {% include './shared/031-navbar.njk' %}
{% endblock %}
