{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/030-meta.njk' %}
  {% include './heads/032-links.njk' %}
{% endblock %}

{% block navbar %}
  {% include './shared/032-navbar.njk' %}
{% endblock %}
