{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/030-meta.njk' %}
  {% include './heads/033-links.njk' %}
{% endblock %}

{% block navbar %}
  {% include './shared/033-navbar.njk' %}
{% endblock %}
