{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/030-meta.njk' %}
  {% include './heads/033-links.njk' %}
  <style>
    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }
  </style>
{% endblock %}

{% block navbar %}
  {% include './shared/034-symbols.njk' %}
  {% include './shared/034-navbar.njk' %}
{% endblock %}
