{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/030-meta.njk' %}
  {% include './heads/031-links.njk' %}
  {% include './heads/036-sidebar.njk' %}
{% endblock %}

{% block sidebar %}
  {% include './shared/036-sidebar.njk' %}
{% endblock %}