{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/030-meta.njk' %}
  {% include './heads/033-links.njk' %}
  {% include './heads/036-sidebar.njk' %}
{% endblock %}

{% block sidebar %}
  {% include './shared/034-symbols.njk' %}
  {% include './shared/037-sidebar.njk' %}
{% endblock %}
