
  <link rel="stylesheet" type="text/css"
    href="assets/css/bootstrap.css">

  <link rel="stylesheet" type="text/css"
    href="assets/css/icons-bootstrap.css">

  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>