// Import partials from `sass_dir` (defaults to `sass/css`)
@import 
  // pre variables
  "../../bootstrap5/functions",
  "../../bootstrap5/variables"
;

.bq {
  // blockquote
  margin: 20px 0;
  padding-left: 1.5rem;
}

// scss-docs-start colors-map
$bs-general-list: (
  "black":      $black,
  "white":      $white,
);

$bs-color-list: (
  "blue":       $blues,
  "indigo":     $indigos,
  "purple":     $purples,
  "pink":       $pinks,
  "red":        $reds,
  "orange":     $oranges,
  "yellow":     $yellows,
  "green":      $greens,
  "teal":       $teals,
  "cyan":       $cyans
);

@each $color, $value in $bs-general-list {
  .bs-#{$color} {
    background-color: $value !important;
  }
  .bs-#{$color}-text {
    color: $value !important;
  }
}

@each $name, $color in $bs-color-list {
  @each $spectrum, $value in $color {
    .bs-#{$spectrum} {
      background-color: $value !important;
    }
    .bs-#{$spectrum}-text {
      color: $value !important;
    }
  }
  .bq-#{$name}-dark {
    border-left: 5px solid map-get($color , "#{$name}-700");
  }
  .bq-#{$name}-light {
    border-left: 5px solid map-get($color , "#{$name}-300");
  }
}

@each $spectrum, $value in $grays {
  .bs-gray-#{$spectrum} {
    background-color: $value !important;
  }
  .bs-gray-#{$spectrum}-text {
    color: $value !important;
  }
}
.bq-gray-dark {
  border-left: 5px solid map-get($grays , "700");
}
.bq-gray-light {
  border-left: 5px solid map-get($grays , "300");
}
