
      <a  href="#"
          class="nav-link active dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ><span class="icon icon-invert archive-fill"
        ></span>&nbsp;Archives</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#"
              ><span class="icon tag-fill"
              ></span>&nbsp;By Tags</a></li>
        <li><a class="dropdown-item" href="#"
              ><span class="icon folder-fill"
              ></span>&nbsp;By Category</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#"
              ><span class="icon calendar2-day-fill"
              ></span>&nbsp;By Chronology</a></li>
      </ul>