
      <a  href="#"
          class="nav-link active dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ><i class="bi-archive-fill"
            style="font-size: 1.1rem; color: white;"
        ></i>&nbsp;Archives</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#"
              ><i class="bi-tag-fill"
          style="font-size: 1.1rem; color: black;"
      ></i>&nbsp;&nbsp;By Tags</a></li>
        <li><a class="dropdown-item" href="#"
              ><i class="bi-folder-fill"
          style="font-size: 1.1rem; color: black;"
      ></i>&nbsp;&nbsp;By Category</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#"
              ><i class="bi-calendar2-day-fill"
          style="font-size: 1.1rem; color: black;"
      ></i>&nbsp;&nbsp;By Chronology</a></li>
      </ul>