
<div class="collapse navbar-collapse"
    id="navbarCollapse">

  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link active" href="#"
        ><i class="bi-house-door-fill"
            style="font-size: 1.1rem; color: white;"
        ></i>&nbsp;Blog <span class="visually-hidden"
        >(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      {% include './033-navbar-dropdown.njk' %}
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#"
        ><i class="bi-person-fill"
            style="font-size: 1.1rem; color: white;"
        ></i>&nbsp;&nbsp;About</a>
    </li>
  </ul>
  <form class="d-flex form-inline mt-2 mt-md-0
      d-sm-none d-md-flex">
    <input class="form-control mr-sm-2" type="text" 
      placeholder="Search"
      aria-label="Search" role="search">
    <button class="btn btn-outline-light my-2 my-sm-0"
      type="submit">Search</button>
  </form>

</div>