
<li class="nav-item">
  <a href="#" class="nav-link link-dark">
    <span class="fa fa-link"></span>&nbsp;Archives
    <button
      class="btn btn-toggle d-inline-flex
        align-items-center rounded border-0 collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#home-collapse"
      aria-expanded="true">
    </button>
  </a>
  <div class="collapse show" id="home-collapse">
    <ul class="btn-toggle-nav list-unstyled
        fw-normal pb-1 small">
      <li><a href="#"
          class="link-dark d-inline-flex
              text-decoration-none rounded">
        <span class="fa fa-tags"></span>
        &nbsp;By Tags</a></li>
      <li><a href="#"
          class="link-dark d-inline-flex
              text-decoration-none rounded">
        <span class="fa fa-folder"></span>
        &nbsp;By Category</a></li>
      <li><a href="#"
          class="link-dark d-inline-flex
              text-decoration-none rounded">
        <span class="fa fa-calendar"></span>
        &nbsp;By Chronology</a></li>
    </ul>
  </div>
</li>