
  <nav class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light"
       style="width: 280px;">
    <a href="#"
       class="d-flex align-items-center pb-3 mb-3
         link-dark text-decoration-none border-bottom">
         <img src="assets/images/logo-gear.png"
           alt="Home" width="32" height="32"/>
      &nbsp;
      <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#"
            class="nav-link active"
            aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"
            ><use xlink:href="#house-door-fill"/></svg>
          Blog <span class="visually-hidden"
            >(current)</span>
        </a>
      </li>

      {% include './037-sidebar-collapsible.njk' %}

      <li class="border-top my-3"></li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16"
            ><use xlink:href="#person-fill"/></svg>
          About
        </a>
      </li>
    </ul>
  </div>
  </nav>