
  <!-- header -->
  <nav class="navbar navbar-expand-md navbar-dark
      fixed-top bg-primary">
    <div class="navbar-collapse">
      <ul class="navbar-nav mx-2">
        <li class="nav-item">
          <a class="nav-link active"
             href="#">Home <span class="visually-hidden"
            >(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>