.layout-base {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.maxwidth {
  margin-right: 0;
  margin-left: 0;
}

@include media-breakpoint-up(md) {
  // Desktop
  .maxwidth {
    max-width: map-get($grid-breakpoints, "md");
    margin-right: auto;
    margin-left: auto;
  }
}
