
<li class="nav-item">
  <a href="#" class="nav-link link-dark">
    <svg class="bi pe-none me-2" width="16" height="16"
        ><use xlink:href="#archive-fill"/></svg>
    Archives
    <button
        class="btn btn-toggle d-inline-flex
        align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse" data-bs-target="#home-collapse"
        aria-expanded="true">
    </button>
  </a>
  <div class="collapse show" id="home-collapse">
    <ul class="btn-toggle-nav list-unstyled
        fw-normal pb-1 small">
        <li><a href="#"
            class="link-dark d-inline-flex
                text-decoration-none rounded">
        <svg class="bi pe-none me-2" width="16" height="16"
            ><use xlink:href="#tag-fill"/></svg>
        By Tags</a></li>
        <li><a href="#"
            class="link-dark d-inline-flex
                text-decoration-none rounded">
        <svg class="bi pe-none me-2" width="16" height="16"
            ><use xlink:href="#folder-fill"/></svg>
        By Category</a></li>
        <li><a href="#"
            class="link-dark d-inline-flex
                text-decoration-none rounded">
        <svg class="bi pe-none me-2" width="16" height="16"
            ><use xlink:href="#calendar2-day-fill"/></svg>
        By Chronology</a></li>
    </ul>
  </div>
</li>