    
<main class="col px-0">
  <section class="main-wrapper single blue">
    <div class="blog white z-depth-3 hoverable">
      <section class="blog-header
          blue lighten-5 text-center">
        <h4 class="font-weight-normal">
          Community Soccer Club</h4>
      </section>

      <article class="blog-body"
                itemprop="articleBody">
        {% include './101-soccer-table.njk' %}
      </article>
    </div>
  </section>
</main>