<h2>Community Soccer Club</h2>
<div class="table-responsive">

  <table class="table table-striped table-hover">
    {% include './soccer-thead.njk' %}
    {% include './soccer-tbody.njk' %}
  </table>

</div>