{% include './106-chart-header.njk' %}
{% include './106-chart.njk' %}

<h2>Community Soccer Club</h2>
<div class="table-responsive">

  <table id="myTable"
      class="display table
              table-striped table-hover">
    {% include './soccer-thead.njk' %}
    {% include './soccer-tbody.njk' %}
  </table>

</div>