{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/020-meta.njk' %}
  {% include './heads/021-links.njk' %}
{% endblock %}

{% block navbar %}
  {% include './shared/021-navbar.njk' %}
{% endblock %}
