{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/020-meta.njk' %}
  {% include './heads/023-links.njk' %}
{% endblock %}

{% block navbar %}
  {% include './shared/023-navbar.njk' %}
{% endblock %}
