{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/meta.njk' %}
  {% include './heads/links-dark.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/navbar-dark.njk' %}
{% endblock %}

{% block content %}
  <!-- responsive colored main layout -->
  <div class="row layout-base maxwidth">
    {% include './contents/062-main-dark.njk' %}
    {% include './aside/062-aside-dark.njk' %}
  </div>
{% endblock %}

{% block footer %}
  {% include './shared/footer-dark.njk' %}
{% endblock %}