{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/meta.njk' %}
  {% include './heads/links-dark.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/navbar-dark.njk' %}
{% endblock %}

{% block content %}
  <!-- responsive colored main layout -->
  <div class="row layout-base maxwidth">
    <main class="col-sm-8 px-0">
      {% include './contents/065-main-dark.njk' %}
    </main>

    <aside class="col-sm-4 px-0">
      {% include './aside/065-widget-dark-01.njk' %}
      {% include './aside/065-widget-dark-02.njk' %}
    </aside>
  </div>
{% endblock %}

{% block footer %}
  {% include './shared/footer-dark.njk' %}
{% endblock %}