
  <!-- responsive main -->
  <div class="row layout-base maxwidth">

    <main class="col-sm-8 p-4
        white z-depth-3 hoverable">
      <article>
        {% include './051-article-gmc.njk' %}
      </article>
    </main>

    <aside class="col-sm-4 p-4
        white z-depth-3 hoverable">
      Side Menu
    </aside>

  </div>