
<ul class="list-group">
  <li class="list-group-item bs-blue-900 text-light">
    <h4>Your Mission</h4></li>

  <li class="list-group-item bs-blue-700">
    To have, to hold, to love,
    cherish, honor, and protect?</li>

  <li class="list-group-item bs-blue-500">
    To shield from terrors known and unknown?
    To lie, to deceive?</li>

  <li class="list-group-item bs-blue-300">
    To live a double life,
    to fail to prevent her abduction,
    erase her identity, 
    force her into hiding,
    take away all she has known.</li>

  <li class="list-group-item bs-blue-100">
    <blockquote class="bq bq-blue-dark">
      As always, should you be
      caught or killed,
      any knowledge of your actions
      will be disavowed.
    </blockquote>
  </li>

</ul>