  <!-- responsive main -->
  <div class="row layout-base maxwidth">

    <main class="col-sm-8 px-0">
      <section class="main-wrapper p-4
           white z-depth-3 hoverable">
        <article>
          Page Content
        </article>
      </section>
    </main>

    <aside class="col-sm-4 px-0">
      <section class="aside-wrapper p-4
           white z-depth-3 hoverable">
        Side Menu
      </section>
    </aside>

  </div>