
<!-- responsive main -->
  <div class="row layout-base maxwidth">

    <main class="col px-0">
      <section class="main-wrapper single
          text-center p-4 bg-dark text-light
          z-depth-3 hoverable">
        <article>
          {% include './054-article.njk' %}
        </article>
      </section>
    </main>

  </div>