
<aside class="col-sm-4 px-0">
  <section class="aside-wrapper green">
    <div class="widget white z-depth-3 hoverable">

      <div class="widget-header green lighten-5">
        <strong>Isle of Friends</strong>
        <span class="fa fa-child
          is-pulled-right"></span>
      </div>

      <div class="widget-body">
        <ul class="widget-list">
          <li><a href="http://epsi-rns.github.io/"
            >Linux/BSD Desktop Customization
            </a></li>
          <li><a href="http://epsi-rns.gitlab.io/"
            >Web Development Blog
            </a></li>
          <li><a href="http://oto-spies.info/"
            >Car Painting and Body Repair
            </a></li>
        </ul>
      </div>

    </div>
  </section>
</aside>