// Block Quote
.bq {
  // blockquote
  margin: 20px 0;
  padding-left: 1.5rem;
}

// Color Classes

@each $name, $color in $colors {
  @each $spectrum, $value in $color {
    @if $spectrum == "base" {
      .#{$name} {
        background-color: $value !important;
      }
      .#{$name}-text {
        color: $value !important;
      }
    }
    @else if $name != "shades" {
      .#{$name}.#{$spectrum} {
        background-color: $value !important;
      }
      .#{$name}-text.text-#{$spectrum} {
        color: $value !important;
      }
    }
  }
  .bq-#{$name}-dark {
    border-left: 5px solid map-get($color , "darken-2");
  }
  .bq-#{$name}-light {
    border-left: 5px solid map-get($color , "lighten-2");
  }
}

// Shade classes
@each $name, $value in $shades {
  .#{$name} {
    background-color: $value !important;
  }
  .#{$name}-text {
    color: $value !important;
  }
}

