
  <!-- responsive -->
  <div class="row layout-base maxwidth">

    <main class="col-md-8 p-4 bg-warning">
       Page Content
    </main>

    <aside class="col-md-4 p-4 bg-info">
      Side Menu
    </aside>

  </div>