
  <!-- responsive main -->
  <div class="row layout-base maxwidth">

    <main class="col-md-8">
      <section class="p-4 bg-warning h-100">
      <header>
        <h2>Your mission. Good Luck!</h2>
      </header>

      <article>
        <ul class="list-group">
          <li class="list-group-item">
          To have, to hold, to love,
          cherish, honor, and protect?</li>

          <li class="list-group-item">
          To shield from terrors known and unknown?
          To lie, to deceive?</li>

          <li class="list-group-item">
          To live a double life,
          to fail to prevent her abduction,
          erase her identity, 
          force her into hiding,
          take away all she has known.</li>
        </ul>
      </article>
      </section>
    </main>

    <aside class="col-md-4"> 
      <section class="p-4 bg-dark text-light h-100">
      Side Menu
      </section>
    </aside>

  </div>