
<div class="collapse navbar-collapse"
    id="navbarCollapse">

  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active"
          aria-current="page">
        <svg class="bi pe-none me-2"
            width="16" height="16"
          ><use xlink:href="#house-door-fill"/></svg>
          Blog <span class="visually-hidden"
        >(current)</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      {% include './navbar-dropdown.njk' %}
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active"
          aria-current="page">
        <svg class="bi pe-none me-2"
            width="16" height="16"
          ><use xlink:href="#person-fill"/></svg>
          About</a>
    </li>
  </ul>
  <form class="d-flex form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" type="text" 
      placeholder="Search"
      aria-label="Search" role="search">
    <button class="btn btn-outline-light my-2 my-sm-0" 
      type="submit">Search</button>
  </form>

</div>
</div>