
<a  href="#"
    class="nav-link active dropdown-toggle"
    aria-current="page"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    <svg class="bi pe-none me-2"
      width="16" height="16"
    ><use xlink:href="#archive-fill"/></svg>
    Archives</a>
<ul class="dropdown-menu">
  <li><a href="#" class="dropdown-item">
    <svg class="bi pe-none me-2"
      width="16" height="16"
        ><use xlink:href="#tag-fill"/></svg>
        By Tags</a></li>
  <li><a href="#" class="dropdown-item">
    <svg class="bi pe-none me-2"
      width="16" height="16"
        ><use xlink:href="#folder-fill"/></svg>
        By Category</a></li>
  <li><hr class="dropdown-divider"></li>
  <li><a href="#" class="dropdown-item">
    <svg class="bi pe-none me-2"
      width="16" height="16"
        ><use xlink:href="#calendar2-day-fill"
        /></svg>
        By Chronology</a></li>
</ul>