{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/meta.njk' %}
  {% include './heads/links-md.njk' %}
  <script src="assets/js/custom-toggler-md.js"></script>
{% endblock %}

{% block header %}
  {% include './shared/074-navbar.njk' %}
{% endblock %}

{% block content %}
  <!-- responsive colored main layout -->
  <div class="row layout-base
              maxwidth maxwidth_toggler">
    {% include './contents/075-main-md.njk' %}
    {% include './aside/075-aside-md.njk' %}
  </div>
{% endblock %}

{% block footer %}
  {% include './shared/074-footer.njk' %}
{% endblock %}