
<div class="clearfix"></div>

<div class="field meta">
  <div class="float-start">
  <span class="meta_author badge indigo darken-2
          white-text z-depth-1 hoverable">
      <span class="fa fa-user"></span>
      &nbsp;
      <span itemprop="author"
            itemscope
            itemtype="http://schema.org/Person">
      <span itemprop="name">epsi</span></span>
  </span>
  &nbsp;
  </div>

  <div class="float-start">
    <span class="meta-time badge cyan darken-2
            white-text z-depth-1 hoverable">
      <span class="fas fa-clock"></span>
      &nbsp;A few days ago.
    </span>
    &nbsp;
  </div>

  <div class="float-end">
      <a href="#">
        <span class="badge teal darken-2
                white-text z-depth-1 hoverable"
          ><span class="fa fa-tag"></span>
          &nbsp;love</span></a>
    &nbsp;
  </div>

  <div class="float-end">
      <a href="#">
        <span class="badge blue darken-2
                white-text z-depth-1 hoverable"
          ><span class="fa fa-folder"></span>
          &nbsp;rock</span></a>
    &nbsp;
  </div>
</div>

<div class="clearfix"></div>