
<ul class="pagination justify-content-between" 
    role="navigation"
    aria-labelledby="pagination-label">

  <li class="page-item post-previous">
    <a  class="page-link" 
        href="#" 
        title="next article name">&laquo; </a>
  </li>

  <li class="page-item post-next">
    <a  class="page-link" 
        href="#" 
        title="previous article name"> &raquo;</a>
  </li>

</ul>