
<!-- toggler -->
<section class="m-1 d-none d-sm-block">
  <button id="left_toggler"
          class="btn btn-md btn-light
                  float-start text-dark
                  left_toggler_active">
    <span class="icon is-small">
      <i class="fas fa-angle-double-left"></i>
    </span>
  </button>
  <button id="right_toggler"
          class="btn btn-md btn-light
                  float-end text-dark
                  right_toggler_active">
    <span class="icon is-small">
      <i class="fas fa-angle-double-right"></i>
    </span>
  </button>
  <div class="clearfix"></div>
</section>