
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p class="text-muted text-uppercase"
        ><small>Code</small></p>
      <p class="h3 numerator"
          data-number="8"
        >0</p>
    </div>
    <div class="col-sm">
      <p class="text-muted text-uppercase"
        ><small>Visual</small></p>
      <p class="h3 numerator"
          data-number="3"
        >0</p>
    </div>
    <div class="col-sm">
      <p class="text-muted text-uppercase"
        ><small>Automation</small></p>
      <p class="h3 numerator"
          data-number="15"
        >0</p>
    </div>
    <div class="col-sm">
      <p class="text-muted text-uppercase"
        ><small>Lambda</small></p>
      <p class="h3 numerator"
          data-number="82"
        >0</p>
    </div>
    <div class="col-sm">
      <p class="text-muted text-uppercase"
        ><small>Math</small></p>
      <p class="h3 numerator"
          data-number="3"
        >0</p>
    </div>
  </div>
</div>