
<div class="my__progressbar" data-count="8">
  <div class="my__progressbar_text"
    >Code: <span class="my__progressbar_perc"
    ></span></div>
  <div class="progress hoverable">
    <div class="progress-bar progress-bar-striped
            progress-bar-animated blue"
          role="progressbar"></div>
  </div>
</div>

<div class="my__progressbar" data-count="3">
  <div class="my__progressbar_text"
    >Visual: <span class="my__progressbar_perc"
    ></span></div>
  <div class="progress hoverable">
    <div class="progress-bar progress-bar-striped
            progress-bar-animated teal"
          role="progressbar"></div>
  </div>
</div>

<div class="my__progressbar" data-count="15">
  <div class="my__progressbar_text"
    >Automation: <span class="my__progressbar_perc"
    ></span></div>
  <div class="progress hoverable">
    <div class="progress-bar progress-bar-striped
            progress-bar-animated cyan"
          role="progressbar"></div>
  </div>
</div>

<div class="my__progressbar" data-count="82">
  <div class="my__progressbar_text"
    >Lambda: <span class="my__progressbar_perc"
    ></span></div>
  <div class="progress hoverable">
    <div class="progress-bar progress-bar-striped
            progress-bar-animated yellow"
          role="progressbar"></div>
  </div>
</div>

<div class="my__progressbar" data-count="3">
  <div class="my__progressbar_text"
    >Math: <span class="my__progressbar_perc"
    ></span></div>
  <div class="progress hoverable">
    <div class="progress-bar progress-bar-striped
            progress-bar-animated pink"
          role="progressbar"></div>
  </div>
</div>