
  <p>
    <a href="#" 
        class="btn btn-primary my-2
          z-depth-1 hoverable"
      >Articles Sorted by Month</a>
    <a href="#" 
        class="btn btn-secondary my-2
          z-depth-1 hoverable"
      >Articles Sorted by Tag</a>
  </p>

  <p>
    As always,
    should you be caught or killed,
    any knowledge of your actions
    will be disavowed.</p>

  <img src="assets/images/one-page.png" 
        alt="business card">

  <p class="text-muted">
    <small>
    <span class="fas fa-home"></span>&nbsp;
      Whitewood Street, Monday Market,
      East Jakarta, 55112, Indonesia.
    </small>
  </p>