
<main class="col px-0">
  <section class="main-wrapper single blue">
    <div class="blog white z-depth-3 hoverable">
      <section class="blog-header
          blue lighten-5 text-center">
        <h3 class="font-weight-bold"
            itemprop="name headline">
          Your Mission</h3>
        <h4 class="font-weight-normal">
          Should you decide to accept</h4>
      </section>

      <article
          class="blog-body text-center"
          itemprop="articleBody">
        {% include './073-main.njk' %}
      </article>
    </div>
  </section>
</main>