
<main id="main_toggler"
      class="col-sm-8 px-0">
  <section id="main_toggler_wrapper"
            class="main-wrapper blue">
    <div class="blog white z-depth-3 hoverable">
      <section class="blog-header blue lighten-5">
        <h4 class="font-weight-bold"
            itemprop="name headline">
          <a href="#">Cause
            You're Different!</a></h4>

        {% include '../blog/072-badge.njk' %}
      </section>

      {% include '../blog/074-toggler.njk' %}

      <article class="blog-body"
          itemprop="articleBody">
        <p>When you can do the things
          that I can, but you don't, 
          and then the bad things happen,
          they happen because of you.</p>

        {% include '../blog/072-navigation.njk' %}
      </article>
    </div>
  </section>
</main>