{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/meta.njk' %}
  {% include './heads/links-blog.njk' %}
  {% include './heads/style-icons.njk' %}
  {% include './heads/links-datatables.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/symbols.njk' %}
  {% include './shared/navbar.njk' %}
{% endblock %}

{% block content %}
  <!-- responsive colored main layout -->
  <div class="row layout-base maxwidth">
    {% include './contents/102-main.njk' %}
  </div>
{% endblock %}

{% block footer %}
  {% include './shared/footer.njk' %}

  <script>
  $(document).ready( function () {
    $('#myTable').DataTable({
      "pageLength": 5 
    });
  } );
  </script>
{% endblock %}
