{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/meta.njk' %}
  {% include './heads/links-dashboard.njk' %}
  {% include './heads/links-sidebar.njk' %}
  {% include './heads/style-icons.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/symbols.njk' %}
  {% include './shared/dashboard-header.njk' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu"
          class="col-md-3 col-lg-3 col-xl-2 d-md-block
            bg-light sidebar collapse">
      {% include './shared/dashboard-sidebar.njk' %}
    </nav>

    <main class="col-md-9 col-lg-9 col-xl-10
            ms-sm-auto px-md-4 bg-white">
      {% include './contents/105-main.njk' %}
    </main>
  </div>
</div>  
{% endblock %}