@keyframes my__progress__frames {
  from { width: 0%; }
  to   { width: 100%; }
}

.my__progressbar_text {
  white-space: nowrap;
}

.progress {
  height: 13px;
  border-radius: 7px;
}

.progress-bar {
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: my__progress__frames;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-direction: normal;
}

