{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/meta.njk' %}
  {% include './heads/links-oc.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/navbar-oc.njk' %}
{% endblock %}

{% block content %}
  {% include './contents/051-main-oc.njk' %}
{% endblock %}

{% block footer %}
  {% include './shared/footer-oc.njk' %}
{% endblock %}