{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/meta.njk' %}
  {% include './heads/links-bs5.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/navbar-bs5.njk' %}
{% endblock %}

{% block content %}
  {% include './contents/051-main-bs5.njk' %}
{% endblock %}

{% block footer %}
  {% include './shared/footer-bs5.njk' %}
{% endblock %}