{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/meta.njk' %}
  {% include './heads/links-gmc.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/navbar-gmc.njk' %}
{% endblock %}

{% block content %}
  {% include './contents/052-main.njk' %}
{% endblock %}

{% block footer %}
  {% include './shared/footer-gmc.njk' %}
{% endblock %}