{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/meta.njk' %}
  {% include './heads/links-gmc-dark.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/navbar-gmc-dark.njk' %}
{% endblock %}

{% block content %}
  {% include './contents/054-main-dark.njk' %}
{% endblock %}

{% block footer %}
  {% include './shared/footer-gmc-dark.njk' %}
{% endblock %}