
  <!-- footer -->
  <footer class="footer">
    <div class="maxwidth text-dark text-center
                bg-white
                oc-white z-depth-3 hoverable">
      &copy; 2021.
    </div>
  </footer>