
<a  href="#"
    class="nav-link active dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false">
  <span class="fa fa-link"></span>
  &nbsp;Archives</a>
<ul class="dropdown-menu dropdown-menu-dark">
  <li><a class="dropdown-item" href="#">
    <span class="fa fa-tags"></span>
    &nbsp;By Tags</a></li>
  <li><a class="dropdown-item" href="#">
    <span class="fa fa-folder"></span>
    &nbsp;By Category</a></li>
  <li><hr class="dropdown-divider"></li>
  <li><a class="dropdown-item" href="#">
    <span class="fa fa-calendar"></span>
    &nbsp;By Chronology</a></li>
</ul>