
  <!-- header -->
  <nav class="navbar navbar-expand-md
      navbar-dark bg-dark fixed-top maxwidth
      z-depth-3 hoverable">

    <div class="container-fluid">
      <a class="navbar-brand ms-4" href="#">
         <img src="assets/images/logo-gear.png"
           alt="Home" width="32" height="32"/>
      </a>

      {% include './navbar-button.njk' %}
      {% include './navbar-collapse-gmc-dark.njk' %}
    </div>

  </nav>