
<div class="collapse navbar-collapse"
      id="navbarCollapse">

  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <span class="fa fa-home"></span>
        &nbsp;Blog <span class="visually-hidden"
        >(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      {% include './navbar-dropdown-gmc-dark.njk' %}
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <span class="fas fa-child"></span>
        &nbsp;About</a>
    </li>
  </ul>
  <form class="d-flex form-inline mt-2 mt-md-0">
    <input class="form-control bg-dark text-white mr-sm-2" type="text" 
      placeholder="Search" aria-label="Search" role="search">
    &nbsp;
    <button class="btn btn-outline-light my-2 my-sm-0" 
      type="submit">Search</button>
  </form>

</div>