{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/meta.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/header.njk' %}
{% endblock %}

{% block content %}
  {% include './contents/main.njk' %}
{% endblock %}

{% block footer %}
  {% include './shared/footer.njk' %}
{% endblock %}