<!DOCTYPE html>
<html>

<head>
  {% block htmlhead %}{% endblock %}
</head>

<body>
  {% block header   %}{% endblock %}
  {% block content  %}{% endblock %}
  {% block footer   %}{% endblock %}
</body>

</html>