
  <link rel="stylesheet" type="text/css"
    href="assets/css/hover.css">
  <link rel="stylesheet" type="text/css"
    href="assets/css/animate.css">

  <script src="assets/js/animate-observer.js"></script>