.z-depth-0 {
  box-shadow: none !important;
}

/* 2dp elevation modified*/
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* 6dp elevation modified*/
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* 12dp elevation modified*/
.z-depth-3 {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

/* 24dp elevation */
.z-depth-5 {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.hoverable {
  transition: box-shadow 0.25s;
}
.hoverable:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bq {
  margin: 20px 0;
  padding-left: 1.5rem;
}

.bs-black {
  background-color: #000 !important;
}

.bs-black-text {
  color: #000 !important;
}

.bs-white {
  background-color: #fff !important;
}

.bs-white-text {
  color: #fff !important;
}

.bs-blue-100 {
  background-color: #cfe2ff !important;
}

.bs-blue-100-text {
  color: #cfe2ff !important;
}

.bs-blue-200 {
  background-color: #9ec5fe !important;
}

.bs-blue-200-text {
  color: #9ec5fe !important;
}

.bs-blue-300 {
  background-color: #6ea8fe !important;
}

.bs-blue-300-text {
  color: #6ea8fe !important;
}

.bs-blue-400 {
  background-color: #3d8bfd !important;
}

.bs-blue-400-text {
  color: #3d8bfd !important;
}

.bs-blue-500 {
  background-color: #0d6efd !important;
}

.bs-blue-500-text {
  color: #0d6efd !important;
}

.bs-blue-600 {
  background-color: #0a58ca !important;
}

.bs-blue-600-text {
  color: #0a58ca !important;
}

.bs-blue-700 {
  background-color: #084298 !important;
}

.bs-blue-700-text {
  color: #084298 !important;
}

.bs-blue-800 {
  background-color: #052c65 !important;
}

.bs-blue-800-text {
  color: #052c65 !important;
}

.bs-blue-900 {
  background-color: #031633 !important;
}

.bs-blue-900-text {
  color: #031633 !important;
}

.bq-blue-dark {
  border-left: 5px solid #084298;
}

.bq-blue-light {
  border-left: 5px solid #6ea8fe;
}

.bs-indigo-100 {
  background-color: #e0cffc !important;
}

.bs-indigo-100-text {
  color: #e0cffc !important;
}

.bs-indigo-200 {
  background-color: #c29ffa !important;
}

.bs-indigo-200-text {
  color: #c29ffa !important;
}

.bs-indigo-300 {
  background-color: #a370f7 !important;
}

.bs-indigo-300-text {
  color: #a370f7 !important;
}

.bs-indigo-400 {
  background-color: #8540f5 !important;
}

.bs-indigo-400-text {
  color: #8540f5 !important;
}

.bs-indigo-500 {
  background-color: #6610f2 !important;
}

.bs-indigo-500-text {
  color: #6610f2 !important;
}

.bs-indigo-600 {
  background-color: #520dc2 !important;
}

.bs-indigo-600-text {
  color: #520dc2 !important;
}

.bs-indigo-700 {
  background-color: #3d0a91 !important;
}

.bs-indigo-700-text {
  color: #3d0a91 !important;
}

.bs-indigo-800 {
  background-color: #290661 !important;
}

.bs-indigo-800-text {
  color: #290661 !important;
}

.bs-indigo-900 {
  background-color: #140330 !important;
}

.bs-indigo-900-text {
  color: #140330 !important;
}

.bq-indigo-dark {
  border-left: 5px solid #3d0a91;
}

.bq-indigo-light {
  border-left: 5px solid #a370f7;
}

.bs-purple-100 {
  background-color: #e2d9f3 !important;
}

.bs-purple-100-text {
  color: #e2d9f3 !important;
}

.bs-purple-200 {
  background-color: #c5b3e6 !important;
}

.bs-purple-200-text {
  color: #c5b3e6 !important;
}

.bs-purple-300 {
  background-color: #a98eda !important;
}

.bs-purple-300-text {
  color: #a98eda !important;
}

.bs-purple-400 {
  background-color: #8c68cd !important;
}

.bs-purple-400-text {
  color: #8c68cd !important;
}

.bs-purple-500 {
  background-color: #6f42c1 !important;
}

.bs-purple-500-text {
  color: #6f42c1 !important;
}

.bs-purple-600 {
  background-color: #59359a !important;
}

.bs-purple-600-text {
  color: #59359a !important;
}

.bs-purple-700 {
  background-color: #432874 !important;
}

.bs-purple-700-text {
  color: #432874 !important;
}

.bs-purple-800 {
  background-color: #2c1a4d !important;
}

.bs-purple-800-text {
  color: #2c1a4d !important;
}

.bs-purple-900 {
  background-color: #160d27 !important;
}

.bs-purple-900-text {
  color: #160d27 !important;
}

.bq-purple-dark {
  border-left: 5px solid #432874;
}

.bq-purple-light {
  border-left: 5px solid #a98eda;
}

.bs-pink-100 {
  background-color: #f7d6e6 !important;
}

.bs-pink-100-text {
  color: #f7d6e6 !important;
}

.bs-pink-200 {
  background-color: #efadce !important;
}

.bs-pink-200-text {
  color: #efadce !important;
}

.bs-pink-300 {
  background-color: #e685b5 !important;
}

.bs-pink-300-text {
  color: #e685b5 !important;
}

.bs-pink-400 {
  background-color: #de5c9d !important;
}

.bs-pink-400-text {
  color: #de5c9d !important;
}

.bs-pink-500 {
  background-color: #d63384 !important;
}

.bs-pink-500-text {
  color: #d63384 !important;
}

.bs-pink-600 {
  background-color: #ab296a !important;
}

.bs-pink-600-text {
  color: #ab296a !important;
}

.bs-pink-700 {
  background-color: #801f4f !important;
}

.bs-pink-700-text {
  color: #801f4f !important;
}

.bs-pink-800 {
  background-color: #561435 !important;
}

.bs-pink-800-text {
  color: #561435 !important;
}

.bs-pink-900 {
  background-color: #2b0a1a !important;
}

.bs-pink-900-text {
  color: #2b0a1a !important;
}

.bq-pink-dark {
  border-left: 5px solid #801f4f;
}

.bq-pink-light {
  border-left: 5px solid #e685b5;
}

.bs-red-100 {
  background-color: #f8d7da !important;
}

.bs-red-100-text {
  color: #f8d7da !important;
}

.bs-red-200 {
  background-color: #f1aeb5 !important;
}

.bs-red-200-text {
  color: #f1aeb5 !important;
}

.bs-red-300 {
  background-color: #ea868f !important;
}

.bs-red-300-text {
  color: #ea868f !important;
}

.bs-red-400 {
  background-color: #e35d6a !important;
}

.bs-red-400-text {
  color: #e35d6a !important;
}

.bs-red-500 {
  background-color: #dc3545 !important;
}

.bs-red-500-text {
  color: #dc3545 !important;
}

.bs-red-600 {
  background-color: #b02a37 !important;
}

.bs-red-600-text {
  color: #b02a37 !important;
}

.bs-red-700 {
  background-color: #842029 !important;
}

.bs-red-700-text {
  color: #842029 !important;
}

.bs-red-800 {
  background-color: #58151c !important;
}

.bs-red-800-text {
  color: #58151c !important;
}

.bs-red-900 {
  background-color: #2c0b0e !important;
}

.bs-red-900-text {
  color: #2c0b0e !important;
}

.bq-red-dark {
  border-left: 5px solid #842029;
}

.bq-red-light {
  border-left: 5px solid #ea868f;
}

.bs-orange-100 {
  background-color: #ffe5d0 !important;
}

.bs-orange-100-text {
  color: #ffe5d0 !important;
}

.bs-orange-200 {
  background-color: #fecba1 !important;
}

.bs-orange-200-text {
  color: #fecba1 !important;
}

.bs-orange-300 {
  background-color: #feb272 !important;
}

.bs-orange-300-text {
  color: #feb272 !important;
}

.bs-orange-400 {
  background-color: #fd9843 !important;
}

.bs-orange-400-text {
  color: #fd9843 !important;
}

.bs-orange-500 {
  background-color: #fd7e14 !important;
}

.bs-orange-500-text {
  color: #fd7e14 !important;
}

.bs-orange-600 {
  background-color: #ca6510 !important;
}

.bs-orange-600-text {
  color: #ca6510 !important;
}

.bs-orange-700 {
  background-color: #984c0c !important;
}

.bs-orange-700-text {
  color: #984c0c !important;
}

.bs-orange-800 {
  background-color: #653208 !important;
}

.bs-orange-800-text {
  color: #653208 !important;
}

.bs-orange-900 {
  background-color: #331904 !important;
}

.bs-orange-900-text {
  color: #331904 !important;
}

.bq-orange-dark {
  border-left: 5px solid #984c0c;
}

.bq-orange-light {
  border-left: 5px solid #feb272;
}

.bs-yellow-100 {
  background-color: #fff3cd !important;
}

.bs-yellow-100-text {
  color: #fff3cd !important;
}

.bs-yellow-200 {
  background-color: #ffe69c !important;
}

.bs-yellow-200-text {
  color: #ffe69c !important;
}

.bs-yellow-300 {
  background-color: #ffda6a !important;
}

.bs-yellow-300-text {
  color: #ffda6a !important;
}

.bs-yellow-400 {
  background-color: #ffcd39 !important;
}

.bs-yellow-400-text {
  color: #ffcd39 !important;
}

.bs-yellow-500 {
  background-color: #ffc107 !important;
}

.bs-yellow-500-text {
  color: #ffc107 !important;
}

.bs-yellow-600 {
  background-color: #cc9a06 !important;
}

.bs-yellow-600-text {
  color: #cc9a06 !important;
}

.bs-yellow-700 {
  background-color: #997404 !important;
}

.bs-yellow-700-text {
  color: #997404 !important;
}

.bs-yellow-800 {
  background-color: #664d03 !important;
}

.bs-yellow-800-text {
  color: #664d03 !important;
}

.bs-yellow-900 {
  background-color: #332701 !important;
}

.bs-yellow-900-text {
  color: #332701 !important;
}

.bq-yellow-dark {
  border-left: 5px solid #997404;
}

.bq-yellow-light {
  border-left: 5px solid #ffda6a;
}

.bs-green-100 {
  background-color: #d1e7dd !important;
}

.bs-green-100-text {
  color: #d1e7dd !important;
}

.bs-green-200 {
  background-color: #a3cfbb !important;
}

.bs-green-200-text {
  color: #a3cfbb !important;
}

.bs-green-300 {
  background-color: #75b798 !important;
}

.bs-green-300-text {
  color: #75b798 !important;
}

.bs-green-400 {
  background-color: #479f76 !important;
}

.bs-green-400-text {
  color: #479f76 !important;
}

.bs-green-500 {
  background-color: #198754 !important;
}

.bs-green-500-text {
  color: #198754 !important;
}

.bs-green-600 {
  background-color: #146c43 !important;
}

.bs-green-600-text {
  color: #146c43 !important;
}

.bs-green-700 {
  background-color: #0f5132 !important;
}

.bs-green-700-text {
  color: #0f5132 !important;
}

.bs-green-800 {
  background-color: #0a3622 !important;
}

.bs-green-800-text {
  color: #0a3622 !important;
}

.bs-green-900 {
  background-color: #051b11 !important;
}

.bs-green-900-text {
  color: #051b11 !important;
}

.bq-green-dark {
  border-left: 5px solid #0f5132;
}

.bq-green-light {
  border-left: 5px solid #75b798;
}

.bs-teal-100 {
  background-color: #d2f4ea !important;
}

.bs-teal-100-text {
  color: #d2f4ea !important;
}

.bs-teal-200 {
  background-color: #a6e9d5 !important;
}

.bs-teal-200-text {
  color: #a6e9d5 !important;
}

.bs-teal-300 {
  background-color: #79dfc1 !important;
}

.bs-teal-300-text {
  color: #79dfc1 !important;
}

.bs-teal-400 {
  background-color: #4dd4ac !important;
}

.bs-teal-400-text {
  color: #4dd4ac !important;
}

.bs-teal-500 {
  background-color: #20c997 !important;
}

.bs-teal-500-text {
  color: #20c997 !important;
}

.bs-teal-600 {
  background-color: #1aa179 !important;
}

.bs-teal-600-text {
  color: #1aa179 !important;
}

.bs-teal-700 {
  background-color: #13795b !important;
}

.bs-teal-700-text {
  color: #13795b !important;
}

.bs-teal-800 {
  background-color: #0d503c !important;
}

.bs-teal-800-text {
  color: #0d503c !important;
}

.bs-teal-900 {
  background-color: #06281e !important;
}

.bs-teal-900-text {
  color: #06281e !important;
}

.bq-teal-dark {
  border-left: 5px solid #13795b;
}

.bq-teal-light {
  border-left: 5px solid #79dfc1;
}

.bs-cyan-100 {
  background-color: #cff4fc !important;
}

.bs-cyan-100-text {
  color: #cff4fc !important;
}

.bs-cyan-200 {
  background-color: #9eeaf9 !important;
}

.bs-cyan-200-text {
  color: #9eeaf9 !important;
}

.bs-cyan-300 {
  background-color: #6edff6 !important;
}

.bs-cyan-300-text {
  color: #6edff6 !important;
}

.bs-cyan-400 {
  background-color: #3dd5f3 !important;
}

.bs-cyan-400-text {
  color: #3dd5f3 !important;
}

.bs-cyan-500 {
  background-color: #0dcaf0 !important;
}

.bs-cyan-500-text {
  color: #0dcaf0 !important;
}

.bs-cyan-600 {
  background-color: #0aa2c0 !important;
}

.bs-cyan-600-text {
  color: #0aa2c0 !important;
}

.bs-cyan-700 {
  background-color: #087990 !important;
}

.bs-cyan-700-text {
  color: #087990 !important;
}

.bs-cyan-800 {
  background-color: #055160 !important;
}

.bs-cyan-800-text {
  color: #055160 !important;
}

.bs-cyan-900 {
  background-color: #032830 !important;
}

.bs-cyan-900-text {
  color: #032830 !important;
}

.bq-cyan-dark {
  border-left: 5px solid #087990;
}

.bq-cyan-light {
  border-left: 5px solid #6edff6;
}

.bs-gray-100 {
  background-color: #f8f9fa !important;
}

.bs-gray-100-text {
  color: #f8f9fa !important;
}

.bs-gray-200 {
  background-color: #e9ecef !important;
}

.bs-gray-200-text {
  color: #e9ecef !important;
}

.bs-gray-300 {
  background-color: #dee2e6 !important;
}

.bs-gray-300-text {
  color: #dee2e6 !important;
}

.bs-gray-400 {
  background-color: #ced4da !important;
}

.bs-gray-400-text {
  color: #ced4da !important;
}

.bs-gray-500 {
  background-color: #adb5bd !important;
}

.bs-gray-500-text {
  color: #adb5bd !important;
}

.bs-gray-600 {
  background-color: #6c757d !important;
}

.bs-gray-600-text {
  color: #6c757d !important;
}

.bs-gray-700 {
  background-color: #495057 !important;
}

.bs-gray-700-text {
  color: #495057 !important;
}

.bs-gray-800 {
  background-color: #343a40 !important;
}

.bs-gray-800-text {
  color: #343a40 !important;
}

.bs-gray-900 {
  background-color: #212529 !important;
}

.bs-gray-900-text {
  color: #212529 !important;
}

.bq-gray-dark {
  border-left: 5px solid #495057;
}

.bq-gray-light {
  border-left: 5px solid #dee2e6;
}

/*# sourceMappingURL=helper-bs5.css.map */
