.z-depth-0 {
  box-shadow: none !important;
}

/* 2dp elevation modified*/
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* 6dp elevation modified*/
.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* 12dp elevation modified*/
.z-depth-3 {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

/* 24dp elevation */
.z-depth-5 {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.hoverable {
  transition: box-shadow 0.25s;
}
.hoverable:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.oc-white {
  background-color: #ffffff !important;
}

.oc-white-text {
  color: #ffffff !important;
}

.oc-black {
  background-color: #000000 !important;
}

.oc-black-text {
  color: #000000 !important;
}

.bq {
  margin: 20px 0;
  padding-left: 1.5rem;
}

.oc-gray-0 {
  background-color: #f8f9fa !important;
}

.oc-gray-0-text {
  color: #f8f9fa !important;
}

.oc-gray-1 {
  background-color: #f1f3f5 !important;
}

.oc-gray-1-text {
  color: #f1f3f5 !important;
}

.oc-gray-2 {
  background-color: #e9ecef !important;
}

.oc-gray-2-text {
  color: #e9ecef !important;
}

.oc-gray-3 {
  background-color: #dee2e6 !important;
}

.oc-gray-3-text {
  color: #dee2e6 !important;
}

.oc-gray-4 {
  background-color: #ced4da !important;
}

.oc-gray-4-text {
  color: #ced4da !important;
}

.oc-gray-5 {
  background-color: #adb5bd !important;
}

.oc-gray-5-text {
  color: #adb5bd !important;
}

.oc-gray-6 {
  background-color: #868e96 !important;
}

.oc-gray-6-text {
  color: #868e96 !important;
}

.oc-gray-7 {
  background-color: #495057 !important;
}

.oc-gray-7-text {
  color: #495057 !important;
}

.oc-gray-8 {
  background-color: #343a40 !important;
}

.oc-gray-8-text {
  color: #343a40 !important;
}

.oc-gray-9 {
  background-color: #212529 !important;
}

.oc-gray-9-text {
  color: #212529 !important;
}

.bq-gray-dark {
  border-left: 5px solid #495057;
}

.bq-gray-light {
  border-left: 5px solid #dee2e6;
}

.oc-red-0 {
  background-color: #fff5f5 !important;
}

.oc-red-0-text {
  color: #fff5f5 !important;
}

.oc-red-1 {
  background-color: #ffe3e3 !important;
}

.oc-red-1-text {
  color: #ffe3e3 !important;
}

.oc-red-2 {
  background-color: #ffc9c9 !important;
}

.oc-red-2-text {
  color: #ffc9c9 !important;
}

.oc-red-3 {
  background-color: #ffa8a8 !important;
}

.oc-red-3-text {
  color: #ffa8a8 !important;
}

.oc-red-4 {
  background-color: #ff8787 !important;
}

.oc-red-4-text {
  color: #ff8787 !important;
}

.oc-red-5 {
  background-color: #ff6b6b !important;
}

.oc-red-5-text {
  color: #ff6b6b !important;
}

.oc-red-6 {
  background-color: #fa5252 !important;
}

.oc-red-6-text {
  color: #fa5252 !important;
}

.oc-red-7 {
  background-color: #f03e3e !important;
}

.oc-red-7-text {
  color: #f03e3e !important;
}

.oc-red-8 {
  background-color: #e03131 !important;
}

.oc-red-8-text {
  color: #e03131 !important;
}

.oc-red-9 {
  background-color: #c92a2a !important;
}

.oc-red-9-text {
  color: #c92a2a !important;
}

.bq-red-dark {
  border-left: 5px solid #f03e3e;
}

.bq-red-light {
  border-left: 5px solid #ffa8a8;
}

.oc-pink-0 {
  background-color: #fff0f6 !important;
}

.oc-pink-0-text {
  color: #fff0f6 !important;
}

.oc-pink-1 {
  background-color: #ffdeeb !important;
}

.oc-pink-1-text {
  color: #ffdeeb !important;
}

.oc-pink-2 {
  background-color: #fcc2d7 !important;
}

.oc-pink-2-text {
  color: #fcc2d7 !important;
}

.oc-pink-3 {
  background-color: #faa2c1 !important;
}

.oc-pink-3-text {
  color: #faa2c1 !important;
}

.oc-pink-4 {
  background-color: #f783ac !important;
}

.oc-pink-4-text {
  color: #f783ac !important;
}

.oc-pink-5 {
  background-color: #f06595 !important;
}

.oc-pink-5-text {
  color: #f06595 !important;
}

.oc-pink-6 {
  background-color: #e64980 !important;
}

.oc-pink-6-text {
  color: #e64980 !important;
}

.oc-pink-7 {
  background-color: #d6336c !important;
}

.oc-pink-7-text {
  color: #d6336c !important;
}

.oc-pink-8 {
  background-color: #c2255c !important;
}

.oc-pink-8-text {
  color: #c2255c !important;
}

.oc-pink-9 {
  background-color: #a61e4d !important;
}

.oc-pink-9-text {
  color: #a61e4d !important;
}

.bq-pink-dark {
  border-left: 5px solid #d6336c;
}

.bq-pink-light {
  border-left: 5px solid #faa2c1;
}

.oc-grape-0 {
  background-color: #f8f0fc !important;
}

.oc-grape-0-text {
  color: #f8f0fc !important;
}

.oc-grape-1 {
  background-color: #f3d9fa !important;
}

.oc-grape-1-text {
  color: #f3d9fa !important;
}

.oc-grape-2 {
  background-color: #eebefa !important;
}

.oc-grape-2-text {
  color: #eebefa !important;
}

.oc-grape-3 {
  background-color: #e599f7 !important;
}

.oc-grape-3-text {
  color: #e599f7 !important;
}

.oc-grape-4 {
  background-color: #da77f2 !important;
}

.oc-grape-4-text {
  color: #da77f2 !important;
}

.oc-grape-5 {
  background-color: #cc5de8 !important;
}

.oc-grape-5-text {
  color: #cc5de8 !important;
}

.oc-grape-6 {
  background-color: #be4bdb !important;
}

.oc-grape-6-text {
  color: #be4bdb !important;
}

.oc-grape-7 {
  background-color: #ae3ec9 !important;
}

.oc-grape-7-text {
  color: #ae3ec9 !important;
}

.oc-grape-8 {
  background-color: #9c36b5 !important;
}

.oc-grape-8-text {
  color: #9c36b5 !important;
}

.oc-grape-9 {
  background-color: #862e9c !important;
}

.oc-grape-9-text {
  color: #862e9c !important;
}

.bq-grape-dark {
  border-left: 5px solid #ae3ec9;
}

.bq-grape-light {
  border-left: 5px solid #e599f7;
}

.oc-violet-0 {
  background-color: #f3f0ff !important;
}

.oc-violet-0-text {
  color: #f3f0ff !important;
}

.oc-violet-1 {
  background-color: #e5dbff !important;
}

.oc-violet-1-text {
  color: #e5dbff !important;
}

.oc-violet-2 {
  background-color: #d0bfff !important;
}

.oc-violet-2-text {
  color: #d0bfff !important;
}

.oc-violet-3 {
  background-color: #b197fc !important;
}

.oc-violet-3-text {
  color: #b197fc !important;
}

.oc-violet-4 {
  background-color: #9775fa !important;
}

.oc-violet-4-text {
  color: #9775fa !important;
}

.oc-violet-5 {
  background-color: #845ef7 !important;
}

.oc-violet-5-text {
  color: #845ef7 !important;
}

.oc-violet-6 {
  background-color: #7950f2 !important;
}

.oc-violet-6-text {
  color: #7950f2 !important;
}

.oc-violet-7 {
  background-color: #7048e8 !important;
}

.oc-violet-7-text {
  color: #7048e8 !important;
}

.oc-violet-8 {
  background-color: #6741d9 !important;
}

.oc-violet-8-text {
  color: #6741d9 !important;
}

.oc-violet-9 {
  background-color: #5f3dc4 !important;
}

.oc-violet-9-text {
  color: #5f3dc4 !important;
}

.bq-violet-dark {
  border-left: 5px solid #7048e8;
}

.bq-violet-light {
  border-left: 5px solid #b197fc;
}

.oc-indigo-0 {
  background-color: #edf2ff !important;
}

.oc-indigo-0-text {
  color: #edf2ff !important;
}

.oc-indigo-1 {
  background-color: #dbe4ff !important;
}

.oc-indigo-1-text {
  color: #dbe4ff !important;
}

.oc-indigo-2 {
  background-color: #bac8ff !important;
}

.oc-indigo-2-text {
  color: #bac8ff !important;
}

.oc-indigo-3 {
  background-color: #91a7ff !important;
}

.oc-indigo-3-text {
  color: #91a7ff !important;
}

.oc-indigo-4 {
  background-color: #748ffc !important;
}

.oc-indigo-4-text {
  color: #748ffc !important;
}

.oc-indigo-5 {
  background-color: #5c7cfa !important;
}

.oc-indigo-5-text {
  color: #5c7cfa !important;
}

.oc-indigo-6 {
  background-color: #4c6ef5 !important;
}

.oc-indigo-6-text {
  color: #4c6ef5 !important;
}

.oc-indigo-7 {
  background-color: #4263eb !important;
}

.oc-indigo-7-text {
  color: #4263eb !important;
}

.oc-indigo-8 {
  background-color: #3b5bdb !important;
}

.oc-indigo-8-text {
  color: #3b5bdb !important;
}

.oc-indigo-9 {
  background-color: #364fc7 !important;
}

.oc-indigo-9-text {
  color: #364fc7 !important;
}

.bq-indigo-dark {
  border-left: 5px solid #4263eb;
}

.bq-indigo-light {
  border-left: 5px solid #91a7ff;
}

.oc-blue-0 {
  background-color: #e7f5ff !important;
}

.oc-blue-0-text {
  color: #e7f5ff !important;
}

.oc-blue-1 {
  background-color: #d0ebff !important;
}

.oc-blue-1-text {
  color: #d0ebff !important;
}

.oc-blue-2 {
  background-color: #a5d8ff !important;
}

.oc-blue-2-text {
  color: #a5d8ff !important;
}

.oc-blue-3 {
  background-color: #74c0fc !important;
}

.oc-blue-3-text {
  color: #74c0fc !important;
}

.oc-blue-4 {
  background-color: #4dabf7 !important;
}

.oc-blue-4-text {
  color: #4dabf7 !important;
}

.oc-blue-5 {
  background-color: #339af0 !important;
}

.oc-blue-5-text {
  color: #339af0 !important;
}

.oc-blue-6 {
  background-color: #228be6 !important;
}

.oc-blue-6-text {
  color: #228be6 !important;
}

.oc-blue-7 {
  background-color: #1c7ed6 !important;
}

.oc-blue-7-text {
  color: #1c7ed6 !important;
}

.oc-blue-8 {
  background-color: #1971c2 !important;
}

.oc-blue-8-text {
  color: #1971c2 !important;
}

.oc-blue-9 {
  background-color: #1864ab !important;
}

.oc-blue-9-text {
  color: #1864ab !important;
}

.bq-blue-dark {
  border-left: 5px solid #1c7ed6;
}

.bq-blue-light {
  border-left: 5px solid #74c0fc;
}

.oc-cyan-0 {
  background-color: #e3fafc !important;
}

.oc-cyan-0-text {
  color: #e3fafc !important;
}

.oc-cyan-1 {
  background-color: #c5f6fa !important;
}

.oc-cyan-1-text {
  color: #c5f6fa !important;
}

.oc-cyan-2 {
  background-color: #99e9f2 !important;
}

.oc-cyan-2-text {
  color: #99e9f2 !important;
}

.oc-cyan-3 {
  background-color: #66d9e8 !important;
}

.oc-cyan-3-text {
  color: #66d9e8 !important;
}

.oc-cyan-4 {
  background-color: #3bc9db !important;
}

.oc-cyan-4-text {
  color: #3bc9db !important;
}

.oc-cyan-5 {
  background-color: #22b8cf !important;
}

.oc-cyan-5-text {
  color: #22b8cf !important;
}

.oc-cyan-6 {
  background-color: #15aabf !important;
}

.oc-cyan-6-text {
  color: #15aabf !important;
}

.oc-cyan-7 {
  background-color: #1098ad !important;
}

.oc-cyan-7-text {
  color: #1098ad !important;
}

.oc-cyan-8 {
  background-color: #0c8599 !important;
}

.oc-cyan-8-text {
  color: #0c8599 !important;
}

.oc-cyan-9 {
  background-color: #0b7285 !important;
}

.oc-cyan-9-text {
  color: #0b7285 !important;
}

.bq-cyan-dark {
  border-left: 5px solid #1098ad;
}

.bq-cyan-light {
  border-left: 5px solid #66d9e8;
}

.oc-teal-0 {
  background-color: #e6fcf5 !important;
}

.oc-teal-0-text {
  color: #e6fcf5 !important;
}

.oc-teal-1 {
  background-color: #c3fae8 !important;
}

.oc-teal-1-text {
  color: #c3fae8 !important;
}

.oc-teal-2 {
  background-color: #96f2d7 !important;
}

.oc-teal-2-text {
  color: #96f2d7 !important;
}

.oc-teal-3 {
  background-color: #63e6be !important;
}

.oc-teal-3-text {
  color: #63e6be !important;
}

.oc-teal-4 {
  background-color: #38d9a9 !important;
}

.oc-teal-4-text {
  color: #38d9a9 !important;
}

.oc-teal-5 {
  background-color: #20c997 !important;
}

.oc-teal-5-text {
  color: #20c997 !important;
}

.oc-teal-6 {
  background-color: #12b886 !important;
}

.oc-teal-6-text {
  color: #12b886 !important;
}

.oc-teal-7 {
  background-color: #0ca678 !important;
}

.oc-teal-7-text {
  color: #0ca678 !important;
}

.oc-teal-8 {
  background-color: #099268 !important;
}

.oc-teal-8-text {
  color: #099268 !important;
}

.oc-teal-9 {
  background-color: #087f5b !important;
}

.oc-teal-9-text {
  color: #087f5b !important;
}

.bq-teal-dark {
  border-left: 5px solid #0ca678;
}

.bq-teal-light {
  border-left: 5px solid #63e6be;
}

.oc-green-0 {
  background-color: #ebfbee !important;
}

.oc-green-0-text {
  color: #ebfbee !important;
}

.oc-green-1 {
  background-color: #d3f9d8 !important;
}

.oc-green-1-text {
  color: #d3f9d8 !important;
}

.oc-green-2 {
  background-color: #b2f2bb !important;
}

.oc-green-2-text {
  color: #b2f2bb !important;
}

.oc-green-3 {
  background-color: #8ce99a !important;
}

.oc-green-3-text {
  color: #8ce99a !important;
}

.oc-green-4 {
  background-color: #69db7c !important;
}

.oc-green-4-text {
  color: #69db7c !important;
}

.oc-green-5 {
  background-color: #51cf66 !important;
}

.oc-green-5-text {
  color: #51cf66 !important;
}

.oc-green-6 {
  background-color: #40c057 !important;
}

.oc-green-6-text {
  color: #40c057 !important;
}

.oc-green-7 {
  background-color: #37b24d !important;
}

.oc-green-7-text {
  color: #37b24d !important;
}

.oc-green-8 {
  background-color: #2f9e44 !important;
}

.oc-green-8-text {
  color: #2f9e44 !important;
}

.oc-green-9 {
  background-color: #2b8a3e !important;
}

.oc-green-9-text {
  color: #2b8a3e !important;
}

.bq-green-dark {
  border-left: 5px solid #37b24d;
}

.bq-green-light {
  border-left: 5px solid #8ce99a;
}

.oc-lime-0 {
  background-color: #f4fce3 !important;
}

.oc-lime-0-text {
  color: #f4fce3 !important;
}

.oc-lime-1 {
  background-color: #e9fac8 !important;
}

.oc-lime-1-text {
  color: #e9fac8 !important;
}

.oc-lime-2 {
  background-color: #d8f5a2 !important;
}

.oc-lime-2-text {
  color: #d8f5a2 !important;
}

.oc-lime-3 {
  background-color: #c0eb75 !important;
}

.oc-lime-3-text {
  color: #c0eb75 !important;
}

.oc-lime-4 {
  background-color: #a9e34b !important;
}

.oc-lime-4-text {
  color: #a9e34b !important;
}

.oc-lime-5 {
  background-color: #94d82d !important;
}

.oc-lime-5-text {
  color: #94d82d !important;
}

.oc-lime-6 {
  background-color: #82c91e !important;
}

.oc-lime-6-text {
  color: #82c91e !important;
}

.oc-lime-7 {
  background-color: #74b816 !important;
}

.oc-lime-7-text {
  color: #74b816 !important;
}

.oc-lime-8 {
  background-color: #66a80f !important;
}

.oc-lime-8-text {
  color: #66a80f !important;
}

.oc-lime-9 {
  background-color: #5c940d !important;
}

.oc-lime-9-text {
  color: #5c940d !important;
}

.bq-lime-dark {
  border-left: 5px solid #74b816;
}

.bq-lime-light {
  border-left: 5px solid #c0eb75;
}

.oc-yellow-0 {
  background-color: #fff9db !important;
}

.oc-yellow-0-text {
  color: #fff9db !important;
}

.oc-yellow-1 {
  background-color: #fff3bf !important;
}

.oc-yellow-1-text {
  color: #fff3bf !important;
}

.oc-yellow-2 {
  background-color: #ffec99 !important;
}

.oc-yellow-2-text {
  color: #ffec99 !important;
}

.oc-yellow-3 {
  background-color: #ffe066 !important;
}

.oc-yellow-3-text {
  color: #ffe066 !important;
}

.oc-yellow-4 {
  background-color: #ffd43b !important;
}

.oc-yellow-4-text {
  color: #ffd43b !important;
}

.oc-yellow-5 {
  background-color: #fcc419 !important;
}

.oc-yellow-5-text {
  color: #fcc419 !important;
}

.oc-yellow-6 {
  background-color: #fab005 !important;
}

.oc-yellow-6-text {
  color: #fab005 !important;
}

.oc-yellow-7 {
  background-color: #f59f00 !important;
}

.oc-yellow-7-text {
  color: #f59f00 !important;
}

.oc-yellow-8 {
  background-color: #f08c00 !important;
}

.oc-yellow-8-text {
  color: #f08c00 !important;
}

.oc-yellow-9 {
  background-color: #e67700 !important;
}

.oc-yellow-9-text {
  color: #e67700 !important;
}

.bq-yellow-dark {
  border-left: 5px solid #f59f00;
}

.bq-yellow-light {
  border-left: 5px solid #ffe066;
}

.oc-orange-0 {
  background-color: #fff4e6 !important;
}

.oc-orange-0-text {
  color: #fff4e6 !important;
}

.oc-orange-1 {
  background-color: #ffe8cc !important;
}

.oc-orange-1-text {
  color: #ffe8cc !important;
}

.oc-orange-2 {
  background-color: #ffd8a8 !important;
}

.oc-orange-2-text {
  color: #ffd8a8 !important;
}

.oc-orange-3 {
  background-color: #ffc078 !important;
}

.oc-orange-3-text {
  color: #ffc078 !important;
}

.oc-orange-4 {
  background-color: #ffa94d !important;
}

.oc-orange-4-text {
  color: #ffa94d !important;
}

.oc-orange-5 {
  background-color: #ff922b !important;
}

.oc-orange-5-text {
  color: #ff922b !important;
}

.oc-orange-6 {
  background-color: #fd7e14 !important;
}

.oc-orange-6-text {
  color: #fd7e14 !important;
}

.oc-orange-7 {
  background-color: #f76707 !important;
}

.oc-orange-7-text {
  color: #f76707 !important;
}

.oc-orange-8 {
  background-color: #e8590c !important;
}

.oc-orange-8-text {
  color: #e8590c !important;
}

.oc-orange-9 {
  background-color: #d9480f !important;
}

.oc-orange-9-text {
  color: #d9480f !important;
}

.bq-orange-dark {
  border-left: 5px solid #f76707;
}

.bq-orange-light {
  border-left: 5px solid #ffc078;
}

/*# sourceMappingURL=helper-oc.css.map */
