.layout-base {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.maxwidth {
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 1200px) {
  .maxwidth {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
.main-wrapper {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .main-wrapper {
    margin-bottom: 0px;
  }
  .main-wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }
  .aside-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .main-wrapper {
    margin-left: 0px;
  }
  .aside-wrapper {
    margin-right: 0px;
  }
  .main-wrapper.single {
    margin-right: 0px;
  }
}
.navbar-brand img {
  width: 32px;
  height: 32px;
  margin-top: -10px;
  margin-bottom: -10px;
}

body {
  background-image: url("../images/light-grey-terrazzo.png");
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

/*# sourceMappingURL=main.css.map */
