{% extends './layouts/011-base.njk' %}

{% block htmlhead %}
  {% include './heads/011-meta.njk' %}
  {% include './heads/013-links.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/011-header.njk' %}
{% endblock %}

{% block content %}
  {% include './contents/011-main.njk' %}
{% endblock %}

{% block footer %}
  {% include './shared/011-footer.njk' %}
{% endblock %}