{% extends './layouts/015-base.njk' %}

{% block htmlhead %}
  {% include './heads/011-meta.njk' %}
  {% include './heads/015-links.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/015-header.njk' %}
{% endblock %}

{% block content %}
  {% include './contents/015-main.njk' %}
{% endblock %}

{% block footer %}
  {% include './shared/015-footer.njk' %}
{% endblock %}