
<div class="form-signin w-100 m-auto">
  <form>
    <img class="mb-4" alt=""
      width="72" height="57"
      src="./assets/images/logo-gear-brand.svg">
    <h1 class="h3 mb-3 fw-normal"
      >Please sign in</h1>

    <div class="form-floating hoverable">
      <input type="email" 
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput"
        >Email address</label>
    </div>
    <div class="form-floating hoverable">
      <input type="password"
        class="form-control"
        id="floatingPassword" 
        placeholder="Password">
      <label for="floatingPassword"
        >Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox"
            value="remember-me"
          >&nbsp;Remember me
      </label>
    </div>
    <button
      class="w-100 btn btn-lg btn-primary
        z-depth-1 hoverable"
      type="submit">Sign in</button>
  </form>
</div>