
  <div class="form-common w-100 m-auto">
  <h4 class="mb-3">Players and Staffs</h4>
  <form class="needs-validation" novalidate>
    <div class="row g-3">
      <div class="col-12">
        <label for="name" class="form-label"
          >Name</label>
        <input type="text" class="form-control"
          id="name" placeholder=""
          value="" required>
        <div class="invalid-feedback">
          Valid name is required.
        </div>
      </div>

      <div class="col-12">
        <label for="username" class="form-label"
          >Username</label>
        <div class="input-group has-validation">
          <span class="input-group-text">@</span>
          <input type="text" class="form-control"
            id="username" placeholder="Username"
            required>
        <div class="invalid-feedback">
            Your username is required.
          </div>
        </div>
      </div>

      <div class="col-12">
        <label for="email" class="form-label"
          >Email <span class="text-muted"
          >(Optional)</span></label>
        <input type="email" class="form-control"
          id="email" placeholder="you@example.com">
        <div class="invalid-feedback">
          Please enter a valid email address.
        </div>
      </div>

      <div class="col-md-6">
        <label for="state" class="form-label"
          >Gender</label>
        <select class="form-select"
            id="state" required>
          <option value="">Choose...</option>
          <option>Male</option>
          <option>Female</option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid gender.
        </div>
      </div>

      <div class="col-md-6">
        <label for="zip" class="form-label"
          >Age</label>
        <input type="text" class="form-control"
          id="zip" placeholder="" required>
        <div class="invalid-feedback">
          Age required.
        </div>
      </div>
    </div>

    <hr class="my-4">

    <button
      class="w-100 btn btn-primary btn-lg"
      type="submit">Continue to register</button>
    <br/>
  </form>
</div>