
<main class="col px-0">
  <section class="main-wrapper single blue">
    <div class="blog white z-depth-3 hoverable">
      <section class="blog-header
          blue lighten-5 text-center">
      </section>

      <article
          class="blog-body text-center"
          itemprop="articleBody">
        {% include './092-user-form.njk' %}
      </article>
    </div>
  </section>
</main>