.layout-base {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.maxwidth {
  margin-right: 0;
  margin-left: 0;
}

@include media-breakpoint-up(xl) {
  // Widescreen
  .maxwidth {
    max-width: map-get($grid-breakpoints, "xl");
    margin-right: auto;
    margin-left: auto;
  }
}


#sitedesc_image {
  width: 500px;
  height:100px;
  max-width: 100%;
  background: transparent url(../images/blue-sfme.png) no-repeat left top;
  background-size: 100% auto;
  float: none;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}