{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/common-meta.njk' %}
  {% include './heads/common-links.njk' %}
  {% include './heads/084-links.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/navbar.njk' %}
{% endblock %}

{% block content %}
  <!-- responsive colored main layout -->
  <div class="row layout-base maxwidth">
    {% include './contents/084-main.njk' %}
    <aside class="col-md-4 px-0">
      {% include './aside/084-widget-01.njk' %}
      {% include './aside/084-widget-02.njk' %}
    </aside>
  </div>
{% endblock %}

{% block footer %}
  {% include './shared/footer.njk' %}
{% endblock %}