{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/common-meta.njk' %}
  {% include './heads/common-links.njk' %}
  {% include './heads/085-links.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/navbar.njk' %}
{% endblock %}

{% block content %}
  <!-- responsive colored main layout -->
  <div class="row layout-base maxwidth">
    {% include './contents/085-main.njk' %}
  </div>
{% endblock %}

{% block footer %}
  {% include './shared/footer.njk' %}
{% endblock %}