  <!-- header -->
  <nav class="navbar navbar-expand-md navbar-light
      fixed-top maxwidth maxwidth_toggler
      white z-depth-3 hoverable">

    <div class="container-fluid">
      <a class="navbar-brand ms-4" href="#">
         <img src="assets/images/logo-gear.png"
           alt="Home" width="32" height="32"/>
      </a>

      {% include './navbar-button.njk' %}
      {% include './navbar-collapse.njk' %}
    </div>

  </nav>