
<aside class="col-sm-4 px-0">   
  <section class="aside-wrapper green darken-4">
    <div class="widget px-2 bg-dark text-light
        z-depth-3 hoverable">
      <p>How many times has he been,
      betrayed, disavowed, cast aside?</p>
    </div>
  </section>

  <section class="aside-wrapper teal darken-4">
    <div class="widget px-2 bg-dark text-light
        z-depth-3 hoverable">
      <p>And how long before a man
        like that has had enough?</p>
    </div>
  </section>
</aside>