
<aside class="col-sm-4 px-0">   
  <section class="aside-wrapper green">
    <div class="widget white z-depth-3 hoverable">

      <div class="widget-header green lighten-5">
        <strong>How many times ?</strong>
        <span class="fa fa-child
          float-end"></span>
      </div>

      <div class="widget-body">
        <p>Has he been, betrayed,
          disavowed, cast aside.</p>
      </div>

    </div>
  </section>

  <section class="aside-wrapper teal">
    <div class="widget white z-depth-3 hoverable">

      <div class="widget-header teal lighten-5">
        <strong>And how long?</strong>
        <span class="fas fa-fingerprint
          float-end"></span>
      </div>

      <div class="widget-body">
        <p>Before a man like that
          has had enough.</p>
      </div>

    </div>
  </section>
</aside>