
<aside class="col-sm-4 px-0">
  <section class="aside-wrapper green darken-4">
    <div class="widget bg-dark text-light
        z-depth-3 hoverable">

      <div class="widget-header
          green darken-3 text-light"">
        <strong>Isle of Friends</strong>
        <span class="fa fa-child
          is-pulled-right"></span>
      </div>

      <div class="widget-body">
        <ul class="widget-list">
          <li><a href="http://epsi-rns.github.io/"
              class="text-light"
            >Linux/BSD Desktop Customization
            </a></li>
          <li><a href="http://epsi-rns.gitlab.io/"
              class="text-light"
            >Web Development Blog
            </a></li>
          <li><a href="http://oto-spies.info/"
              class="text-light"
            >Car Painting and Body Repair.
            </a></li>
        </ul>
      </div>

    </div>
  </section>
</aside>