
<section class="aside-wrapper teal">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header teal lighten-4">
      <strong>Tags</strong>
      <span class="fa fa-tag
        is-pulled-right"></span>
    </div>

    <div class="widget-body">
      <a href="#">
        <span class="badge text-dark
          white z-depth-1 hoverable">
        command&nbsp;
        <span class="fa fa-folder"></span>
      </span></a>&nbsp;
      <a href="#">
        <span class="badge text-dark
          white z-depth-1 hoverable">
        agent&nbsp;
        <span class="fa fa-folder"></span>
      </span></a>&nbsp;
      <a href="#">
        <span class="badge text-dark
          white z-depth-1 hoverable">
        duty&nbsp;
        <span class="fa fa-folder"></span>
      </span></a>&nbsp;
    </div>

  </div>
</section>