
<section class="aside-wrapper cyan darken-4">
  <div class="widget bg-dark text-light
      z-depth-3 hoverable">

    <div class="widget-header
        cyan darken-3 text-light">
      <strong>Categories</strong>
      <span class="fa fa-folder
        is-pulled-right"></span>
    </div>

    <div class="widget-body">
      <a href="#">
        <span class="badge text-light
          cyan darken-2 z-depth-1 hoverable">
        mission&nbsp;
        <span class="fa fa-folder"></span>
      </span></a>&nbsp;
      <a href="#">
        <span class="badge text-light
          cyan darken-2 z-depth-1 hoverable">
        accomplished&nbsp;
        <span class="fa fa-folder"></span>
      </span></a>&nbsp;
    </div>

  </div>
</section>