
<section class="aside-wrapper teal darken-4">
  <div class="widget bg-dark
      z-depth-3 hoverable">

    <div class="widget-header
        teal darken-3 text-light">
      <strong>Tags</strong>
      <span class="fa fa-tag
        is-pulled-right"></span>
    </div>

    <div class="widget-body">
      <a href="#">
        <span class="badge text-light
        teal darken-2 z-depth-1 hoverable">
        command&nbsp;
        <span class="fa fa-folder"></span>
      </span></a>&nbsp;
      <a href="#">
        <span class="badge text-light
        teal darken-2 z-depth-1 hoverable">
        agent&nbsp;
        <span class="fa fa-folder"></span>
      </span></a>&nbsp;
      <a href="#">
        <span class="badge text-light
        teal darken-2 z-depth-1 hoverable">
        duty&nbsp;
        <span class="fa fa-folder"></span>
      </span></a>&nbsp;
    </div>

  </div>
</section>