
<section class="aside-wrapper cyan">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header cyan lighten-4">
      <strong>Categories</strong>
      <span class="fa fa-folder
        is-pulled-right"></span>
    </div>

    <div class="widget-body">
      <a href="#">
        <span class="badge text-dark
          cyan lighten-3 z-depth-1 hoverable">
        mission&nbsp;
        <span class="fa fa-folder"></span>
      </span></a>&nbsp;
      <a href="#">
        <span class="badge text-dark
          cyan lighten-3 z-depth-1 hoverable">
        accomplished&nbsp;
        <span class="fa fa-folder"></span>
      </span></a>&nbsp;
    </div>

  </div>
</section>