{% extends './layouts/base.njk' %}

{% block htmlhead %}
  {% include './heads/041-meta.njk' %}
  {% include './heads/044-links.njk' %}
{% endblock %}

{% block header %}
  {% include './shared/044-navbar.njk' %}
{% endblock %}

{% block content %}
  {% include './contents/045-main.njk' %}
{% endblock %}

{% block footer %}
  {% include './shared/044-footer.njk' %}
{% endblock %}