
<main class="col-md-8 px-0
              animate__animated animate__observe"
      data-animate="slideInLeft">
  <section class="main-wrapper blue">
    <div class="blog white z-depth-3 hoverable">
      <section class="blog-header blue lighten-5">
        <h4 itemprop="name headline">
          <a href="#">Cause
            You're Different!</a></h4>
      </section>

      <article class="blog-body"
               itemprop="articleBody">

        <div class="animate__animated animate__observe"
              data-animate="rubberBand"
              id="sitedesc_image"></div>

        <p>When you can do the things
          that I can, but you don't, 
          and then the bad things happen,
          they happen because of you.</p>

      </article>
    </div>
  </section>
</main>