
<main class="col px-0">

  <section class="main-wrapper single blue">
    <div class="blog white z-depth-3 hoverable">
      <section class="blog-header
          blue lighten-5 text-center">
        <h3 class="font-weight-bold"
            itemprop="name headline">
          Your Mission</h3>
        <h4 class="font-weight-normal">
          Should you decide to accept</h4>
      </section>

      <article class="blog-body text-center"
               itemprop="articleBody">
        <p>
          As always,
          should you be caught or killed,
          any knowledge of your actions
          will be disavowed.</p>

        <img src="assets/images/one-page.png" 
           class="animate__animated animate__observe"
    data-animate="bounce"
             alt="business card">

        <br/>

        {% include '../chunks/085-numerator.njk' %}

        <p class="text-muted">
          <small>
          <span class="fas fa-home"></span>&nbsp;
            Whitewood Street, Monday Market,
            East Jakarta, 55112, Indonesia.
          </small>
        </p>
      </article>
    </div>
  </section>
</main>