
<main class="col px-0">

  <section class="main-wrapper single blue">
    <div class="blog white z-depth-3 hoverable">
      <section class="blog-header
          blue lighten-5 text-center">
        <h3 class="font-weight-bold"
            itemprop="name headline">
          Your Mission</h3>
        <h4 class="font-weight-normal">
          Should you decide to accept</h4>
      </section>

      <article class="blog-body text-center"
          itemprop="articleBody">
        <img src="assets/images/one-page.png" 
              class="animate__animated animate__observe"
              data-animate="bounce"
              alt="business card">

        <br/>

        <div class="widget white z-depth-1 hoverable">
          <div class="widget-header blue lighten-4">

            <strong>Articles Count
              by Categories</strong>
            <span class="fas fa-fingerprint
               float-end"></span>

          </div>
          <div class="widget-body blue lighten-5">

            <br/>
            {% include '../chunks/085-numerator.njk' %}

          </div>
        </div>

        <br/>

        <p>
          As always,
          should you be caught or killed,
          any knowledge of your actions
          will be disavowed.</p>

        <br/>

        <div class="widget white z-depth-1 hoverable">
          <div class="widget-header blue lighten-4">

            <strong>Articles Barchart</strong>
            <span class="fas fa-fingerprint
              float-end"></span>

          </div>
          <div class="widget-body
              blue lighten-5 text-start">
            <div id="container__bar"
                  class="text-start"
                  data-count="114">

              {% include '../chunks/086-progressbar.njk' %}

            </div>
          </div>
        </div>

        <br/>

        <p class="text-muted">
          <small>
          <span class="fas fa-home"></span>&nbsp;
            Whitewood Street, Monday Market,
            East Jakarta, 55112, Indonesia.
          </small>
        </p>

      </article>
    </div>
  </section>
</main>